.row{
  max-width: 80rem;
}

a{
  color:$primary-color-dark;
  @include aller-bold();
}

.noMarginTop{
  margin-top:0;
}

ol.toc{
  font-size:20px;
  margin-left:2rem;
}

span.supertitle{
	margin-top:10px;
}

.panel.sound{
  background-color: #F6F6F6;
}

.label{
  background-color: $primary-color-dark;
  color: white;
  @include novecento();
}

fieldset.sound{
  legend{
    @include aller-bold();
    @include radius();
    background-color: $primary-color-dark;
    color: white;
    padding:0.2rem 0.7rem;
  }
}

.range-slider.round{
  margin-bottom:2rem;

  .range-slider-handle{
    background-color: $primary-color-medium;
    border:1px solid $primary-color-dark;
    @include hover-dark();
  }
  label{
    position: absolute;
    top: -21px;
    left: 0;
    font-size: 13px;
    @include aller-bold();
    color: $primary-color-dark;
    span{
      display:inline-block;
      margin-left:10px;
    }
  }
}
