/*--------------------- Typography ----------------------------*/

@font-face {
    font-family: 'aller-light';
    src: url('public/fonts/aller-light.eot');
    src: url('public/fonts/aller-light.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/aller-light.woff') format('woff'),
         url('public/fonts/aller-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller-bold';
    src: url('public/fonts/aller-bold.eot');
    src: url('public/fonts/aller-bold.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/aller-bold.woff') format('woff'),
         url('public/fonts/aller-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novecento-bold';
    src: url('public/fonts/novecento-bold.eot');
    src: url('public/fonts/novecento-bold.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/novecento-bold.woff') format('woff'),
         url('public/fonts/novecento-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

