<div class="row">
    <div class="small-12 columns">

        <h3>Browser support</h3>

        <div class="row">
            <div class="small-12  columns">
                <p>The Web Audio API is not, and never will be, supported on IE (though it is supported on Edge), which
limits its usefulness for general web projects until Edge supplants IE. Even where it is supported, the
API still has not matured (AudioWorkers, for example, are not implemented anywhere yet) so Mooog doesn't
worry too much about cross-browser compatibility issues. It does, however, implement a patch
for the absence of the StereoPannerNode on for the deprecated Audio API (for Safari), since panning is such a
basic audio operation and the Mooog `Track` object relies on it. Ensuring cross-platform
consistency is on the to-do list once the API stabilizes and browser support improves. </p>

                <p><code>Mooog.browser_test()</code> returns an object with a set of boolean properties indicating whether your
                    browser is current in its support of the spec.</p>


              <ul class="disc">
                  <li>Your browser <span data-mooog-toggle="unprefixed"></span> support the unprefixed <code>AudioContext</code> object.</li>
                  <li>Your browser <span data-mooog-toggle="start_stop"></span> support the <code>start</code> and
                  <code>stop</code> methods instead of <code>noteon</code> and <code>noteoff</code>.</li>
                  <li>Your browser <span data-mooog-toggle="stereo_panner"></span> support the <code>StereoPannerNode</code></li>
                  <li>Your browser <span data-mooog-toggle="script_processor"></span> support the <code>ScriptProcessorNode</code></li>


              </ul>

            </div>

        </div>





        <script>
            $(document).ready(function(){
                var support = Mooog.browser_test();
                $("[data-mooog-toggle]").each(function(){
                    if( support[$(this).data('mooogToggle')] ){
                        $(this).addClass('supported').text("does");
                    }else{
                        $(this).addClass('unsupported').text("does not");
                    }
                })
            })
        </script>



    </div>
</div>
